/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  body {
    flex-direction: column;
  }
}
a {
  color: lightblue;
  font-weight: bold;
}
a:visited {
  color: lightpink;
  font-weight: bold;
}
.nav-bar {
  width: 30%;
  background: #191919;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar .prof-links {
  width: 120px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
}
.nav-bar .prof-links img {
  height: 50px;
}
.nav-bar .page-link,
.nav-bar .page-link:visited {
  color: white;
  text-decoration: none;
}
.nav-bar .page-link {
  display: block;
  background: transparent;
  font-size: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  width: 80%;
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 5px;
}
.nav-bar .page-link:hover {
  background: #555;
  box-shadow: inset 0px 0px 15px 0px white;
  background: white;
  box-shadow: inset 0px 0px 45px 0px #191919;
  border: 1px solid #191919;
  color: #191919;
}
.nav-bar .page-link:active {
  box-shadow: inset 0px 0px 45px 0px #555;
}
@media (max-width: 1200px) {
  .nav-bar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav-bar .prof-links {
    position: relative;
    top: 0;
    width: 80px;
  }
  .nav-bar .prof-links img {
    height: 30px;
  }
  .nav-bar .page-link {
    margin: 0;
    width: auto;
    padding: 5px 20px;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid #555;
  }
  .nav-bar .page-link:hover {
    box-shadow: inset 0px 0px 25px 0px #191919;
  }
  .nav-bar .page-link:active {
    box-shadow: inset 0px 0px 25px 0px #555;
  }
}
@media (max-width: 500px) {
  .nav-bar .prof-links {
    width: 55px;
  }
  .nav-bar .prof-links img {
    height: 25px;
  }
  .nav-bar .page-link {
    font-size: 1.5rem;
  }
}
.main-container {
  background: white;
  width: 70%;
  position: relative;
}
@media (max-width: 1200px) {
  .main-container {
    width: 100%;
  }
}
#welcome {
  min-height: 100vh;
}
#welcome .my-name {
  display: none;
  font-family: serif;
  padding: 20vh 10vw;
  font-weight: bold;
  width: 50%;
}
#welcome .my-name h1 {
  display: inline-block;
  font-size: 5rem;
}
#welcome .my-name .last-name {
  padding-left: 10px;
}
#welcome .my-name p {
  font-size: 1.6rem;
  padding-left: 90px;
}
@media (max-width: 500px) {
  #welcome .my-name h1 {
    font-size: 3rem;
  }
  #welcome .my-name p {
    padding-left: 40px;
  }
}
.slide-angle {
  border-bottom: 500px solid #555;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}
.slide-angle .cta-btn {
  display: none;
  position: absolute;
  top: 50vh;
  right: 30vw;
}
.slide-angle .cta-btn h2 {
  font-size: 2.5rem;
  padding: 10px 30px;
  background: #191919;
  color: white;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
.slide-angle .cta-btn h2:hover {
  border: 1px solid #191919;
  background: white;
  box-shadow: inset 0px 0px 35px 0px #191919;
  color: #191919;
}
.slide-angle .cta-btn h2:active {
  box-shadow: inset 0px 0px 35px 0px #555;
}
@media (max-width: 1200px) {
  .slide-angle .cta-btn {
    right: 40vw;
  }
}
@media (max-width: 500px) {
  .slide-angle .cta-btn {
    right: 100px;
  }
  .slide-angle .cta-btn h2 {
    font-size: 2rem;
    padding: 5px 10px;
  }
}
.slide-angle .my-trade {
  background: transparent;
  position: absolute;
  top: 60vh;
  width: 400px;
  max-width: 50vw;
  right: 0;
  color: white;
}
.slide-angle .my-trade h2 {
  font-size: 4rem;
  font-weight: bold;
}
.slide-angle .my-trade ul {
  list-style-type: circle;
  list-style-position: inside;
}
.slide-angle .my-trade ul li {
  font-size: 2rem;
  padding: 5px 50px;
  text-indent: -30px;
  font-style: italic;
  font-weight: normal;
}
@media (max-width: 500px) {
  .slide-angle .my-trade {
    max-width: 60vw;
  }
  .slide-angle .my-trade h2 {
    padding-left: 15px;
    font-size: 2rem;
  }
  .slide-angle .my-trade ul li {
    font-size: 1.4rem;
    padding: 15px 0 0 15px;
  }
}
#projects {
  min-height: 100vh;
  background: #555 url("../images/line-white.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
#projects h1 {
  font-size: 5rem;
  color: white;
  padding: 50px 0 10px 100px;
  align-self: flex-start;
}
#projects .projects-holder {
  border: 1px solid white;
  background: rgba(25, 25, 25, 0.7);
  border-radius: 10px;
  width: 800px;
  max-width: 90vw;
  min-height: 700px;
  margin: 0 auto;
}
#projects .projects-holder .project {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
#projects .projects-holder .project .project-img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
#projects .projects-holder .project .project-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
#projects .projects-holder .project .project-content {
  width: 500px;
}
#projects .projects-holder .project .project-content h2 {
  padding: 20px 0 10px;
  font-size: 2rem;
  color: white;
}
#projects .projects-holder .project .project-content p {
  padding: 0 10px 10px 20px;
  color: white;
}
@media (max-width: 1200px) {
  #projects h1 {
    padding-top: 100px;
  }
}
@media (max-width: 500px) {
  #projects h1 {
    font-size: 3rem;
    padding: 75px 0 0 30px;
  }
}
#contact {
  min-height: 100vh;
  background: white url("../images/line-char.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#contact h1 {
  color: #191919;
  font-size: 5rem;
  padding: 50px 0 0 100px;
}
@media (max-width: 1200px) {
  #contact h1 {
    padding-top: 100px;
  }
}
@media (max-width: 500px) {
  #contact h1 {
    font-size: 3rem;
    padding: 75px 0 0 30px;
  }
}
