@import "reset";
@wideViewStart: 1100px;
@mobile: (max-width: 500px);
@charcoal: rgb(25, 25, 25, 1);

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;

  @media (max-width: @wideViewStart) {
    flex-direction: column;
  }
}

.nav-bar {
  width: 30%;
  background: @charcoal;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a,
  a:visited {
    color: white;
    text-decoration: none;
  }

  a {
    display: block;
    background: transparent;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    width: 80%;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 5px;

    &:hover {
      background: #555;
      box-shadow: inset 0px 0px 15px 0px white;
      background: white;
      box-shadow: inset 0px 0px 45px 0px @charcoal;
      border: 1px solid @charcoal;
      color: @charcoal;
    }

    &:active {
      box-shadow: inset 0px 0px 45px 0px #555;
    }
  }

  @media (max-width: @wideViewStart) {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      margin: 0;
      width: auto;
      padding: 5px 20px;
      font-size: 2rem;
      border-radius: 5px;
      border: 1px solid #555;

      &:hover {
        box-shadow: inset 0px 0px 25px 0px @charcoal;
      }
      &:active {
        box-shadow: inset 0px 0px 25px 0px #555;
      }
    }
  }
}

.main-container {
  background: white;
  width: 70%;
  position: relative;
  @media (max-width: @wideViewStart) {
    width: 100%;
  }
}

#welcome {
  // min-height: 500px;
  min-height: 100vh;

  .my-name {
    display: none;
    font-family: serif;
    padding: 20vh 10vw;
    font-weight: bold;
    width: 50%;

    h1 {
      display: inline-block;
      font-size: 5rem;
    }
    .last-name {
      padding-left: 10px;
    }
    p {
      font-size: 1.6rem;
      padding-left: 90px;
    }
  }

  @media @mobile {
    .my-name {
      h1 {
        font-size: 3rem;
      }
      p {
        padding-left: 40px;
      }
    }
  }
}

.slide-angle {
  border-bottom: 500px solid #555;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;

  .cta-btn {
    display: none;
    // display: inline-block;
    position: absolute;

    top: 50vh;
    right: 30vw;

    h2 {
      font-size: 2.5rem;
      padding: 10px 30px;
      background: @charcoal;
      color: white;
      display: inline-block;
      border: 1px solid white;
      border-radius: 5px;
      cursor: pointer;
      width: 150px;
      text-align: center;

      &:hover {
        border: 1px solid @charcoal;
        background: white;
        box-shadow: inset 0px 0px 35px 0px @charcoal;
        color: @charcoal;
      }
      &:active {
        box-shadow: inset 0px 0px 35px 0px #555;
      }
    }
    @media (max-width: @wideViewStart) {
      right: 40vw;
    }
    @media @mobile {
      right: 100px;
      h2 {
        font-size: 2rem;
        padding: 5px 10px;
      }
    }
  }

  .my-trade {
    background: transparent;
    position: absolute;
    top: 60vh;
    width: 400px;
    max-width: 50vw;
    right: 0;
    color: white;

    h2 {
      font-size: 4rem;
      font-weight: bold;
    }
    ul {
      list-style-type: circle;
      list-style-position: inside;
      //   padding: 10px 0 0 20px;

      li {
        font-size: 2rem;
        padding: 5px 50px;
        text-indent: -30px;
        font-style: italic;
        font-weight: normal;
      }
    }
    @media @mobile {
      max-width: 60vw;
      h2 {
        padding-left: 15px;
        font-size: 2rem;
      }
      ul {
        li {
          font-size: 1.4rem;
          padding: 15px 0 0 15px;
        }
      }
    }
  }
}

#projects {
  min-height: 100vh;
  background: #555 url("../images/line-white.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  h1 {
    font-size: 5rem;
    color: white;
    padding: 50px 0 10px 100px;
    align-self: flex-start;
  }

  .projects-holder {
    border: 1px solid white;
    background: rgba(25, 25, 25, 0.7);
    border-radius: 10px;
    width: 700px;
    max-width: 90vw;
    min-height: 700px;
    margin: 0 auto;

    .project {
      padding: 20px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      .project-img {
        // background: white;
        height: 200px;
        width: 200px;
        border-radius: 10px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 10px;
        }
      }

      .project-content {
        // border: 1px solid black;
        width: 400px;
        h2 {
          padding: 20px 0 10px;
          font-size: 2rem;
          color: white;
        }
        p {
          padding: 0 10px 10px 20px;
          color: white;
        }
      }
    }
  }
  @media (max-width: @wideViewStart) {
    h1 {
      padding-top: 100px;
    }
  }
  @media @mobile {
    h1 {
      font-size: 3rem;
      padding: 75px 0 0 30px;
    }
  }
}

#contact {
  min-height: 100vh;
  background: white url("../images/line-char.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  h1 {
    color: @charcoal;
    font-size: 5rem;
    padding: 50px 0 0 100px;
  }
  @media (max-width: @wideViewStart) {
    h1 {
      padding-top: 100px;
    }
  }
  @media @mobile {
    h1 {
      font-size: 3rem;
      padding: 75px 0 0 30px;
    }
  }
}
